# Data loading 

Here we will be using the ```.paraquet``` file we downloaded and do the following:
 - Check metadata and table datatypes of the paraquet file/table
 - Convert the paraquet file to pandas dataframe and check the datatypes. Additionally check the data dictionary to make sure you have the right datatypes in pandas, as pandas will automatically create the table in our database.
 - Generate the DDL CREATE statement from pandas for a sanity check.
 - Create a connection to our database using SQLAlchemy
 - Convert our huge paraquet file into a iterable that has batches of 100,000 rows and load it into our database.

In [2]:
import os
import pandas as pd 
import pyarrow.parquet as pq
from time import time

In [18]:
# Read metadata
cwd = os.path.abspath(os.getcwd())
# file_name = 'yellow_tripdata_2023-09.parquet'
file_name = 'yellow_tripdata_2019-10.parquet'
fpath = os.path.join(cwd, 'data', file_name)
if os.path.exists(fpath):
    md = pq.read_metadata(fpath)
else:
    print(f'File does not exist at specified location: {fpath}')

In [19]:
md

<pyarrow._parquet.FileMetaData object at 0x75fe2f581710>
  created_by: parquet-cpp-arrow version 7.0.0
  num_columns: 19
  num_rows: 7213891
  num_row_groups: 1
  format_version: 1.0
  serialized_size: 10335

In [20]:
# Read file, read the table from file and check schema
file = pq.ParquetFile(fpath)
table = file.read()
table.schema

VendorID: int64
tpep_pickup_datetime: timestamp[us]
tpep_dropoff_datetime: timestamp[us]
passenger_count: double
trip_distance: double
RatecodeID: double
store_and_fwd_flag: string
PULocationID: int64
DOLocationID: int64
payment_type: int64
fare_amount: double
extra: double
mta_tax: double
tip_amount: double
tolls_amount: double
improvement_surcharge: double
total_amount: double
congestion_surcharge: double
airport_fee: null
-- schema metadata --
pandas: '{"index_columns": [], "column_indexes": [], "columns": [{"name":' + 2489

In [21]:
# Convert to pandas and check data 
df = table.to_pandas()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7213891 entries, 0 to 7213890
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int64
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int64
 8   DOLocationID           int64
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  airport_fee            object
dtypes: datetime64[us](2), float64(11), int64(4), object(2)
memory usage: 1.0+ GB

We need to first create the connection to our postgres database. We can feed the connection information to generate the CREATE SQL query for the specific server. SQLAlchemy supports a variety of servers.

In [14]:
# Create an open SQL database connection object or a SQLAlchemy connectable
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')
engine.connect()

In [22]:
print(pd.io.sql.get_schema(df, name='yellow_taxi_data'))

CREATE TABLE "yellow_taxi_data" (
"VendorID" INTEGER,
  "tpep_pickup_datetime" TIMESTAMP,
  "tpep_dropoff_datetime" TIMESTAMP,
  "passenger_count" REAL,
  "trip_distance" REAL,
  "RatecodeID" REAL,
  "store_and_fwd_flag" TEXT,
  "PULocationID" INTEGER,
  "DOLocationID" INTEGER,
  "payment_type" INTEGER,
  "fare_amount" REAL,
  "extra" REAL,
  "mta_tax" REAL,
  "tip_amount" REAL,
  "tolls_amount" REAL,
  "improvement_surcharge" REAL,
  "total_amount" REAL,
  "congestion_surcharge" REAL,
  "airport_fee" TEXT
)

In [23]:
# Generate CREATE SQL statement from schema for validation
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee TEXT
)

Datatypes for the table looks good! Since we used paraquet file the datasets seem to have been preserved. You may have to convert some datatypes so it is always good to do this check.

## Finally inserting data

There are 2,846,722 rows in our dataset. We are going to use the ```parquet_file.iter_batches()``` function to create batches of 100,000, convert them into pandas and then load it into the postgres database.

In [24]:
#This part is for testing


# Creating batches of 100,000 for the paraquet file
batches_iter = file.iter_batches(batch_size=100000)
batches_iter

# Take the first batch for testing
df = next(batches_iter).to_pandas()
df

# Creating just the table in postgres
#df.head(0).to_sql(name='ny_taxi_data',con=engine, if_exists='replace')

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,airport_fee
0,1,2019-10-01 00:19:55,2019-10-01 00:23:57,1.0,0.4,1.0,N,48,163,2,4.5,3.0,0.5,0.00,0.0,0.3,8.30,2.5,None
1,1,2019-10-01 00:40:19,2019-10-01 00:55:17,2.0,4.3,1.0,N,144,141,1,14.5,3.0,0.5,2.00,0.0,0.3,20.30,2.5,None
2,1,2019-10-01 00:06:52,2019-10-01 00:21:23,1.0,5.0,1.0,N,137,80,1,17.0,3.0,0.5,5.20,0.0,0.3,26.00,2.5,None
3,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,4,-2.5,-0.5,-0.5,0.00,0.0,-0.3,-3.80,0.0,None
4,2,2019-10-01 00:36:08,2019-10-01 00:36:15,1.0,0.0,1.0,N,25,25,2,2.5,0.5,0.5,0.00,0.0,0.3,3.80,0.0,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,1,2019-10-01 15:00:31,2019-10-01 15:29:12,1.0,4.1,1.0,Y,161,166,1,20.0,2.5,0.5,4.00,0.0,0.3,27.30,2.5,None
99996,1,2019-10-01 15:35:55,2019-10-01 15:45:29,1.0,1.4,1.0,N,166,75,1,8.0,0.0,0.5,2.00,0.0,0.3,10.80,0.0,None
99997,1,2019-10-01 15:18:14,2019-10-01 15:40:38,2.0,4.6,1.0,N,13,230,1,18.5,2.5,0.5,4.35,0.0,0.3,26.15,2.5,None
99998,1,2019-10-01 15:48:57,2019-10-01 15:56:02,2.0,1.3,1.0,N,50,246,2,7.0,2.5,0.5,0.00,0.0,0.3,10.30,2.5,None
99999,1,2019-10-01 15:57:51,2019-10-01 16:00:29,1.0,0.4,1.0,N,68,90,1,4.0,2.5,0.5,1.45,0.0,0.3,8.75,2.5,None

In [25]:
# Insert values into the table 
t_start = time()
count = 0
for batch in file.iter_batches(batch_size=100000):
    count+=1
    batch_df = batch.to_pandas()
    print(f'inserting batch {count}...')
    b_start = time()
    
    batch_df.to_sql(name='ny_taxi_data',con=engine, if_exists='append')
    b_end = time()
    print(f'inserted! time taken {b_end-b_start:10.3f} seconds.\n')
    
t_end = time()   
print(f'Completed! Total time taken was {t_end-t_start:10.3f} seconds for {count} batches.')

inserting batch 1...
inserted! time taken     25.057 seconds.

inserting batch 2...
inserted! time taken     39.828 seconds.

inserting batch 3...
inserted! time taken     40.932 seconds.

inserting batch 4...
inserted! time taken     40.105 seconds.

inserting batch 5...
inserted! time taken     41.756 seconds.

inserting batch 6...
inserted! time taken     29.683 seconds.

inserting batch 7...
inserted! time taken     24.339 seconds.

inserting batch 8...
inserted! time taken     34.943 seconds.

inserting batch 9...
inserted! time taken     41.479 seconds.

inserting batch 10...
inserted! time taken     40.755 seconds.

inserting batch 11...
inserted! time taken     40.787 seconds.

inserting batch 12...
inserted! time taken     39.433 seconds.

inserting batch 13...
inserted! time taken     27.065 seconds.

inserting batch 14...
inserted! time taken     25.920 seconds.

inserting batch 15...
inserted! time taken     23.738 seconds.

inserting batch 16...
inserted! time taken     11.441 seconds.

inserting batch 17...
inserted! time taken     12.584 seconds.

inserting batch 18...
inserted! time taken     11.069 seconds.

inserting batch 19...
inserted! time taken     11.071 seconds.

inserting batch 20...
inserted! time taken     15.072 seconds.

inserting batch 21...
inserted! time taken     11.408 seconds.

inserting batch 22...
inserted! time taken     10.592 seconds.

inserting batch 23...
inserted! time taken     10.766 seconds.

inserting batch 24...
inserted! time taken     10.581 seconds.

inserting batch 25...
inserted! time taken     10.670 seconds.

inserting batch 26...
inserted! time taken     10.743 seconds.

inserting batch 27...
inserted! time taken     10.384 seconds.

inserting batch 28...
inserted! time taken     10.607 seconds.

inserting batch 29...
inserted! time taken     10.723 seconds.

inserting batch 30...
inserted! time taken     10.553 seconds.

inserting batch 31...
inserted! time taken     10.343 seconds.

inserting batch 32...
inserted! time taken     10.576 seconds.

inserting batch 33...
inserted! time taken     10.293 seconds.

inserting batch 34...
inserted! time taken     10.552 seconds.

inserting batch 35...
inserted! time taken     10.705 seconds.

inserting batch 36...
inserted! time taken     10.514 seconds.

inserting batch 37...
inserted! time taken     10.400 seconds.

inserting batch 38...
inserted! time taken     10.703 seconds.

inserting batch 39...
inserted! time taken     10.592 seconds.

inserting batch 40...
inserted! time taken     10.796 seconds.

inserting batch 41...
inserted! time taken     10.777 seconds.

inserting batch 42...
inserted! time taken     10.448 seconds.

inserting batch 43...
inserted! time taken     10.625 seconds.

inserting batch 44...
inserted! time taken     10.577 seconds.

inserting batch 45...
inserted! time taken     10.391 seconds.

inserting batch 46...
inserted! time taken     10.692 seconds.

inserting batch 47...
inserted! time taken     10.838 seconds.

inserting batch 48...
inserted! time taken     10.479 seconds.

inserting batch 49...
inserted! time taken     10.647 seconds.

inserting batch 50...
inserted! time taken     10.443 seconds.

inserting batch 51...
inserted! time taken     10.872 seconds.

inserting batch 52...
inserted! time taken     10.707 seconds.

inserting batch 53...
inserted! time taken     10.630 seconds.

inserting batch 54...
inserted! time taken     10.634 seconds.

inserting batch 55...
inserted! time taken     10.721 seconds.

inserting batch 56...
inserted! time taken     10.708 seconds.

inserting batch 57...
inserted! time taken     10.401 seconds.

inserting batch 58...
inserted! time taken     10.821 seconds.

inserting batch 59...
inserted! time taken     10.584 seconds.

inserting batch 60...
inserted! time taken     10.590 seconds.

inserting batch 61...
inserted! time taken     10.504 seconds.

inserting batch 62...
inserted! time taken     10.655 seconds.

inserting batch 63...
inserted! time taken     11.056 seconds.

inserting batch 64...
inserted! time taken     10.737 seconds.

inserting batch 65...
inserted! time taken     10.585 seconds.

inserting batch 66...
inserted! time taken     10.632 seconds.

inserting batch 67...
inserted! time taken     10.710 seconds.

inserting batch 68...
inserted! time taken     26.444 seconds.

inserting batch 69...
inserted! time taken     24.286 seconds.

inserting batch 70...
inserted! time taken     23.971 seconds.

inserting batch 71...
inserted! time taken     24.289 seconds.

inserting batch 72...
inserted! time taken     23.386 seconds.

inserting batch 73...
inserted! time taken      3.311 seconds.

Completed! Total time taken was   1204.376 seconds for 73 batches.

## Extra bit

While trying to do the SQL Refresher, there was a need to add a lookup zones table but the file is in ```.csv``` format. 

Let's code to handle both ```.csv``` and ```.paraquet``` files!

In [ ]:
from time import time
import pandas as pd 
import pyarrow.parquet as pq
from sqlalchemy import create_engine

In [ ]:
url = 'https://d37ci6vzurychx.cloudfront.net/misc/taxi+_zone_lookup.csv'
url = 'https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2023-09.parquet'

file_name = url.rsplit('/', 1)[-1].strip()
file_name

'yellow_tripdata_2023-09.parquet'

In [ ]:
if '.csv' in file_name:
    print('yay') 
    df = pd.read_csv(file_name, nrows=10)
    df_iter = pd.read_csv(file_name, iterator=True, chunksize=100000)
elif '.parquet' in file_name:
    print('oh yea')
    file = pq.ParquetFile(file_name)
    df = next(file.iter_batches(batch_size=10)).to_pandas()
    df_iter = file.iter_batches(batch_size=100000)
else: 
    print('Error. Only .csv or .parquet files allowed.')
    sys.exit()

oh yea

This code is a rough code and seems to be working. The cleaned up version will be in `data-loading-parquet.py` file.